*{
    padding: 0;
    margin: 0;
}

/* login body */
.loginbody{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #273746;
}

.loginbody form{
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    box-shadow: 0 10px 20px black;
    padding: 20px 25px;
}

.loginbody form .title{
    color: #000;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

#cursor {
    opacity: 1;
    transition: opacity 0.5s;
}

#cursor.visible {
    opacity: 0;
}


.loginbody form label{
    margin-bottom: 20px;
}

.loginbody form label .fa-solid{
    font-size: 20px;
    margin-right: 10px;
    color: #273746;
}

.loginbody form label input{
    padding: 0 5px;
    font-size: 18px;
}

.loginbody form .link{
    color:rgb(0, 0, 0);
    margin-bottom: 15px;
}

.loginbody form button{
    color: white;
    border: none;
    background-color:#273746;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s;
}

.loginbody form button:hover{
    background-color: #566573;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1A1A1A;
}

nav {
    background-color: #000;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
}

nav ul li {
    margin-right: 20px;
    margin-left: 20px;
}

nav ul li a {
    color: #333333;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s;
    font-size: 1rem;
    display: inline-block;
}

nav ul li a:hover {
    color: #fff;
    transform: scale(1.20);
}

.section1{
    position: relative;
    text-align: center;
}

.section1 h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.section1 img{
    width: 100vw;
    height: auto;
}
.section2 {
    display: flex;
    background-color: #1A1A1A;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100vw;
}

.section2 div {
    background-color: #333333;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    text-align: center;
}

.section2 div p{
    margin-top: 2rem;
}

.boton1{
    margin-top: 1rem;
}

.boton1 a{
    text-decoration: none;
    background-color: #000;
    color: #333333;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    transition: color ease-in 0.3s;
}

.boton1 a:hover {
    color: #fff;
}

/* Pagina de Market */

.contenedorMarket{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedorMarket div{
    text-align: center;
    width: 450px;
    padding: 3rem 0 3rem 0;
    margin: 1rem;
    border-radius: 5px;
    background-color: #2c2c2c;
    transition: all 0.3s;
}

.contenedorMarket div:hover{
    background-color:#414141;
    box-shadow: 0 10px 20px black;
}

.contenedorMarket div img{
    width: 80%;
    border-radius: 10px;
}

.contenedorMarket div h3{
    margin-top: 2rem;
    color: #fff;
}

.contenedorMarket div p{
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #fff;
}

.contenedorMarket div a{
    border: solid #0F0F0F;
    text-decoration: none;
    color: white;
    padding: 0.5rem 5rem;
    border-radius: 5px;
    transition: 0.5s;
}

.contenedorMarket div a:hover{
    background-color: #0F0F0F;
}